/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* Reset CSS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Fim Reset CSS */

/* Import Fontes */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

@font-face {
  font-family: 'Funny';
  src: url('../assets/fonts/Funny.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Estilos personalizados */
body {
  background-color: #EFEFEF;
  font-family: 'Open Sans', sans-serif;
  color: #444;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
}

main {
  flex: 1;
  min-height: 0;
}

footer, .pre-footer {
  margin-top: auto;

}

.navbar-custom {
  padding: 15px;
  margin: 0;
  box-shadow: 1px 1px 20px #747373;
  z-index: 10;
  position: relative;
}

.navbar-custom .nav-link {
  color: #0100a8;
  margin: 0 0 10 0px;
  font-weight: bolder;
  font-size: 1.2rem;
}

.navbar-custom .nav-link:hover {
  color: #ff45dc;
}

.navbar-custom .nav-link.active {
  border-radius: 5px;
  background-color: #ff45dc;
  color: #ffffff;
  padding: 10px 20px;
}

.btn-login-custom {
  font-weight: bolder;
  border: 2px solid #0100a8;
  border-radius: 5px;
  color: #0100a8;
}

.btn-login-custom:hover {
  background-color: #03cbcc;
  border: 2px solid #03cbcc;
}

.btn-cadastrar-custom {
  font-weight: bolder;
  color: #0100a8;
  border: none;
}

.btn-cadastrar-custom:hover {
  color: #03cbcc;
}

.container {
  max-width: 800px;
}

.container-xl {
  max-width: 1440px;
  padding: 0;
}

.text-heading {
  font-family: 'Funny';
  font-size: 58px;
  color: #0100a8;
  letter-spacing: 5px;
}

.text-heading {
  font-size: 58px;
}

.form-control {
  border-color: #ff45dc;
  font-size: 14px;
  color: #c4c4c4;
}

.form-control:focus {
  border-color: #03cbcc;
  box-shadow: 0 0 5px #03cbcc;
}

input::placeholder {
  font-size: 14px;
  color: #c4c4c4;
}

.logo-img {
  max-height: 80px;
  height: auto;
  width: auto;
}

.logo-reduzida-img {
  max-height: 60px;
  height: auto;
  width: auto;
}

.navbar-nav {
  flex-grow: 1;
  justify-content: center;
  z-index: 5;
}

.navbar-brand {
  margin: 0;
  z-index: 10;
}

.background-top, .background-botton {
  background-color: #03cbcc;
  overflow: hidden;
  clip-path: inset(0 0 0 0);
}

.background-top {
  height: 70px;
}

.background-botton {
  height: 70px;
}

.background-img, .cover-img, .cover-img-botton {
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Animação para a imagem do topo */
.cover-img {
  animation: moveUpDown 150s ease-in-out infinite;
}

/* Animação para a imagem do bottom */
.cover-img-botton {
  animation: moveDownUp 150s ease-in-out infinite;
}

/* Animação que sobe e desce */
@keyframes moveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-70%);
  }
}

/* Animação que desce e sobe */
@keyframes moveDownUp {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(70%);
  }
}

/* Responsivo */
@media (max-width: 768px) {
  .background-top {
    height: 85px;
  }

  .text-heading {
    font-size: 40px;
  }

  .footer-custom {
    text-align: center;
  }

  .footer-custom .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-custom .logo-reduzida-img {
    margin-top: 10px;
  }

  html, body {
    height: auto;
    min-height: 100%;
    margin: 0;
  }

}

@media (max-width: 578px) {
  .background-top {
    height: 78px;
  }

  .text-heading {
    font-size: 30px;
  }

  html, body {
    height: auto;
    min-height: 100%;
    margin: 0;
  }
}

.form-custom {
  font-weight: bolder;
  color: #ff45dc;
  margin: 0 auto;

}

.btn-add-book {
  background-color: #0100a8;
  font-weight: bolder;
  color: white;
  border: none;
}

.btn-add-book:hover {
  background-color: #03cbcc;
  color: white;
}

.footer-custom  {
  box-shadow: 1px 5px 15px #747373;
  z-index: 10;
  margin-top: auto;
}

.yellow-colored-bar {
  height: 1.8rem; /* Altura de 0,5cm é aproximadamente 5px em telas */
  background-color: #ffd78f; /* Cor da barra */
  width: 100%; /* Largura total da tela */
}

.pink-colored-bar {
  height: 0.8rem; /* Altura de 0,5cm é aproximadamente 5px em telas */
  background-color: #ff8ae3; /* Cor da barra */
  width: 100%; /* Largura total da tela */
}

  .navbar-toggler-icon::before, 
  .navbar-toggler-icon::after, 
  .navbar-toggler-icon span {
    content: '';
    width: 30px; /* Largura das linhas */
    height: 3px; /* Espessura das linhas */
    background-color: #0100a8; /* Cor das linhas */
    transition: all 0.3s ease;
  }

.navbar-toggler {
  border: 4px solid #ff45dc;
}

.navbar-toggler:hover {
  border: 4px solid #03cbcc;
}

.custom-links {
  color: #0100a8;
}

.custom-links:hover {
  color: #03cbcc;
}

/* Garante que o HTML e BODY ocupem toda a altura da janela */
html, body {
  display: flex;
  flex-direction: column;
  height: auto;
    min-height: 100vh;
    margin: 0;
}

.spinner-large {
  width: 4rem;
  height: 4rem;
}