

body {
  background-color: #fef9f7;
  font-family: 'Open Sans', sans-serif;
  color: #444;
}

.navbar-custom {
  background-color: #f3f3fd;
  padding: 10px;
}

.navbar-custom .nav-link {
  color: #0100a8;
  margin: 0 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

.navbar-custom .nav-link:hover {
  color: #ff8ae3;
}

.btn-login {
  background-color: #0100a8;
  color: white;
  border: none;
}

.btn-login:hover {
  background-color: #03cbcc;
}

.logo-img {
  height: 50px;
}

.container {
  max-width: 600px;
}

.text-heading {
  color: #ff8b49;
  font-weight: bold;
}

.btn-add-book {
  background-color: #ff45dc;
  color: white;
  border: none;
}

.btn-add-book:hover {
  background-color: #d038b5;
}

.form-control:focus {
  border-color: #03cbcc;
  box-shadow: 0 0 5px #03cbcc;
}
