{% extends 'galeria/base.html' %}
{% load static %}
{% block content %}  

  <!-- Conteúdo principal -->
  <main>
    <div class="container rounded px-5">
      <!-- Título da página -->
      <h1 class="text-center text-heading mb-sm-2 mb-md-3 mb-lg-5">Diário de Leitura da Júlia</h1>

      <!-- Formulário para adicionar livro -->
      <form class="form-custom">
        <div class="row">
          <!-- Campo de data de início -->
          <div class="col-md-6 mb-3 mt-3">
            <label for="startDate" class="form-label">Data de Início</label>
            <input type="date" class="form-control rounded-3 custom-date" id="startDate">
          </div>

          <!-- Campo de data de fim -->
          <div class="mb-3 col-md-6 mt-sm-0 mt-md-3 mt-lg-3">
            <label for="endDate" class="form-label">Data de Fim</label>
            <input type="date" class="form-control rounded-3 custom-date" id="endDate" >
          </div>
        </div>

        <!-- Campo de título, autor e número de páginas -->
        <div class="mb-3">
          <label for="title" class="form-label">Título do Livro</label>
          <input type="text" class="form-control rounded-3" id="title" placeholder="Digite o título do livro">
        </div>
        <div class="mb-3">
          <label for="author" class="form-label">Autor</label>
          <input type="text" class="form-control rounded-3" id="author" placeholder="Digite o autor do livro">
        </div>
        <div class="mb-3">
          <label for="pages" class="form-label">Número de Páginas</label>
          <input type="number" class="form-control rounded-3" id="pages" placeholder="Digite o número de páginas do livro">
        </div>

        <!-- Botão de adicionar livro -->
        <button type="submit" class="btn btn-add-book w-100 mt-3">Adicionar Livro</button>
      </form>
    </div>
  </main>



{% endblock %}


