/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* Reset CSS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Fim Reset CSS */


/* Estilos personalizados */
body {
  background-color: #412323;
  font-family: 'Open Sans', sans-serif;

  color: #444;
}

.navbar-custom {
  background-color:#802a2a;
  padding: 0px;
  margin: 0px;
}

.navbar-custom .nav-link {
  color: #0100a8;
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 1rem;
}

.navbar-custom .nav-link:hover {
  color: #ff8ae3;
}

.navbar-custom .nav-link.active {
  background-color: #ff8ae3;
  color: #ff8ae3;
}

.btn-login {
  background-color: #0100a8;
  color: white;
  border: none;
}

.btn-login:hover {
  background-color: #03cbcc;
}

.logo-img {
  height: 50px;
}

.container {
  max-width: 600px;
}

.text-heading {
  color: #ff8b49;
  font-weight: bold;
}

.btn-add-book {
  background-color: #ff45dc;
  color: white;
  border: none;
}

.btn-add-book:hover {
  background-color: #d038b5;
}

.form-control:focus {
  border-color: #03cbcc;
  box-shadow: 0 0 5px #03cbcc;
}

/* Configurar a logo */
.logo-img {
  max-height: 80px; /* Impede que a logo ultrapasse o container */
  height: auto;
  width: auto; /* Garante proporção correta */
}

/* Ajustar o restante do menu */
.navbar-nav {
  flex-grow: 1;
  justify-content: center;
}


.navbar-brand {
  margin: 0;
  z-index: 10; /* Garante que a logo fique acima de outros elementos */
}

.navbar-nav {
  z-index: 5; /* O menu ficará abaixo da logo */
}

.btn-login {
  z-index: 10; /* Garante que o botão login também esteja visível */
}

.container-xl {
  max-width: 1440px; /* Define a largura maxima do container */
  padding: 0;
}